body {
    margin: 0;
    padding: 0;
    position: relative;
    background-size: cover;
    line-height: 1.2;
    background-color: #060706
}


#container{
    position:absolute;
}

.siteContent {
    padding: 40px;
    text-align: center;
    color: #ffffff;
    width: auto;
    line-height: 2;
}

.siteContent h1 {
    font-size: 70px;
    font-family: "Impact", Charcoal, sans-serif;
    text-decoration: underline overline;
    text-align: center;
}

.siteContent a {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

.siteContent p {
    font-family: "Courier New", Courier, monospace;
    color: #ffffff;
}

.siteContent span {
    font-family: "Courier New", Courier, monospace;
    color: #ffffff;
}

.navigateBar {
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
}

.navigateBar a{
    float: left;
    color: #ff0000;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
    border-right: 1px dotted red;
}

.navigateBar a:hover {
    color: #00ff00;
    background: #222222;
}

.gameLink {
    display: block;
    position: relative;
    color: #ff0000;
    margin: auto;
    margin-top: 5px;
    width: 140px;
    border-radius: 18px;
    background: #151515;
    text-align: center;
    padding: 14px 20px 14px 20px;
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
}

.gameLink:hover {
    color: #00ff00;
    background: #222222;
}